:root {
  --bg-background: #ffffff;
  --dark-black-color: #2b2d42;
  --red-text: #d90429;
  --grey-text: #8d99ae;
}
*:focus {
  outline: none;
}
body {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  background-color: #f7f7f8;
}
.container {
  width: 500px;
  max-width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: #edf2f4;
  position: relative;
  top: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo i {
  font-size: 30px;
  padding: 6px;
  color: var(--red-text);
}
.logo h2 {
  color: var(--dark-black-color);
}
.right-side input {
  padding: 10px 18px;
}
#search-input {
  border: none;
  cursor: pointer;
}
#search-input:focus {
  outline: 2px solid var(--red-text);
}
::placeholder {
  color: var(--dark-black-color);
  font-size: 15px;
}
#submit-btn {
  border: none;
  font-size: 15px;
  background-color: var(--red-text);
  color: var(--bg-background);
  font-weight: 500;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
#submit-btn:hover {
  background-color: var(--bg-background);
  color: var(--red-text);
  font-weight: 600;
}
.profle-container {
  display: flex;
  align-items: center;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--red-text);
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.user {
  margin-left: 5px;
}
.user h1,
h3 {
  margin: 0;
}
.user h1 {
  color: var(--dark-black-color);
  font-size: 2rem;
}
.user h3 {
  color: var(--grey-text);
  font-size: 16px;
}
.user small {
  font-style: italic;
}
.user i {
  color: var(--red-text);
}
.post-container h2 {
  margin-bottom: 0;
}
.post-container a {
  color: var(--red-text);
  text-decoration: none;
}
.reactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reactions i {
  color: var(--red-text);
  font-size: 25px;
}
.reactions p {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.reactions p:hover {
  color: var(--dark-black-color);
  transform: scale(1.5);
}
