:root {
  --bg-background: #ffffff;
  --dark-black-color: #2b2d42;
  --red-text: #d90429;
  --grey-text: #8d99ae;
}

body {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  background-color: #f7f7f8;
}
.container {
  width: 650px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--bg-background);
  position: relative;
  top: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 30px;
  padding: 6px;
  color: var(--red-text);
}
.logo h2 {
  color: var(--dark-black-color);
}
.right-side input {
  padding: 9px 18px;
}
